:root {
  --primary-color: #9d7575;
  --secondary-color: #cebaba;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Arsenal", sans-serif;
}

body {
  margin: 100px 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 100px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.location {
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
  font-family: monospace;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.contact-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  font-size: 20px;
  margin: 30px;
}
.contact-link:hover {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
  transition: all 100ms ease-in-out;
}

.project-link {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  max-width: 400px;
  background: var(--primary-color);
  color: white;
  font-size: 20px;
}

.project-link:hover {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
  padding: 20px 15px;
  transition: all 100ms ease-in-out;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }

  .tool-list {
    display: none;
  }

  .contact-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
.hero {
  text-align: left;
  padding: 140px 100px;
}
.logo {
  max-width: 130px;
}

.nav-item {
  padding: 0 10px;
  line-height: 14px;
}

.nav a {
  transition: all 100ms ease-in-out;
}
.nav-link {
  color: white;
}
.navbar-toggler {
  color: white;
  background-color: white;
}
.nav-link:hover {
  background-color: white;
  color: var(--primary-color);
}

.container-fluid {
  background-color: var(--primary-color);
}

.hero {
  background: white;
  text-align: center;
  line-height: 1.5;
  padding: 40px 15px;
}
.index-img {
  border-radius: 110px;
  border: solid 5px var(--primary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.img-fluid {
  border-radius: 110px;
  border: solid 5px var(--primary-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

span {
  font-size: 48px;
}

.font::before {
  content: " ";
  animation: animate infinite 15s;
}

@keyframes animate {
  0% {
    content: "cat lover";
  }
  20% {
    content: "front-end web developer";
  }
  40% {
    content: "technical writer";
  }
  60% {
    content: "learning & development specialist";
  }
  80% {
    content: "customs brokerage specialist";
  }
  100% {
    content: "photographer";
  }
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
}

.email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 100%;
  padding: 10px 15px;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: white;
}

.social-links-contact a {
  transition: all 100ms ease-in-out;
  font-size: 20px;
  margin: 0 20px;
}
.tool-list {
  color: var(--primary-color);
  font-size: 40px;
}
.btn a {
  padding: 14px 28px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary-color);
}
.btn a:hover {
  padding: 14px 28px;
  background: white;
  color: var(--primary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
}
.contact-btn a {
  padding: 14px 28px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  line-height: 27px;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 170px;
  font-size: 20px;
  border: 1px solid var(--primary-color);
}
.contact-btn a:hover {
  padding: 14px 28px;
  background: white;
  color: var(--primary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
}
